<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/chat.js"></script>
        <style>
            .offline { background-color: #FF0000; }
            .online { background-color: #00FF00; }
            .out { color: #CC0000; }
            .in  { color: #0000CC; }
            .with > div { border: 1px solid #000; padding: 5px; margin: 5px; }
            .connection { width: 200px; }
            .presence { }
            .presence-status-undefined { background-color: #ddd }
            .presence-status-chat { background-color: #00ff00 }
            .presence-status-away { background-color: orange }
            .presence-status-dnd { background-color: #ff0000 }
            .presence-status-xa { background-color: light-orange }
            .roster-items { overflow: auto; }
            .roster-item { padding: 5px; border: 1px solid #000; width: 300px; float: left }
            .roster-item p { margin: 0; padding: 0; }
        </style>
    </head>
    <body>
        <div class="auth">
            JID: <input type="text" name="username" class="jid" placeholder="jid"  />
            Password: <input type="password" class="password"  />
            <a href="#" class="login">Login</a>
        </div>    
        <div class="connection offline">
        <p>Connection: <span class="status">offline</span></p>
        </div>
        
        <div class="presence">
            <select>
                <option value="away">away</option>
                <option value="chat">online</option>
                <option value="dnd">dnd</option>
                <option value="xa">xa</option>
            </select>
            <input type="text" placeholder="Add a status message here..." class="presence-status" />
            <a href="#" class="set-presence">Set presence</a>                
        </div>

        <div class="chat">
            <div class="with">
            
            </div>

            <div class="send"> 
                JID: <input type="email" class="to" placeholder="Bare JID" />
                Message: <textarea class="message"></textarea>
                <a href="#" class="send-message">Send Message</a>
            </div>
        </div>
        
        <div class="roster">
        <h2>Roster</h2>
        <p><a href="#" class="get-roster">Get Roster</a></p>
        <div class="roster-items"><p>Click to load</div>
        <p>Note: This example completely ignores resources</p>
    </body>
</html
