<% include ./partials/head %>
<h1>XMPP For The Web/Win ::: XMPP-FTW</h1>
<p class="subtitle">Welcome to XMPP over websockets using JSON</p>

<h2>Information</h2>

<p>Please click on the following links as appropriate:</p>

<ul>
  <li><a href="/manual" title="XMPP-FTW Manual">Manual</a></li>
  <li><del><a href="/extend" title="Extend XMPP-FTW">Extend</a></del></li>
  <li><a href="/demo" title="XMPP-FTW Demo">Demo</a></li>
  <li><del><a href="/chat" title="Example chat client">Example chat client</a></del></li>
  <li><a href="https://github.com/lloydwatkin/xmpp-ftw">Github repository</a></li>
</ul>
<% include ./partials/cat-finder %>
<% include ./partials/footer %>