<html>
    <head>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/client.js"></script>
        <link rel="stylesheet" href="/style.css" type="text/css" />
        <meta charset="utf-8" />
        <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
    </head>
    <body>
        <h1>XMPP For The Web/Win ::: XMPP-FTW</h1>
        <p class="subtitle">Welcome to XMPP over websockets using JSON</p>
        
        <h2>Information</h2>
        
        <p>Please click on the following links as appropriate:</p>
        
        <ul>
          <li><a href="/manual" title="XMPP-FTW Manual">Manual</a></li>
          <li><del><a href="/extend" title="Extend XMPP-FTW">Extend</a></del></li>
          <li><a href="/demo" title="XMPP-FTW Demo">Demo</a></li>
          <li><a href="/chat" title="Example chat client">Example chat client</a></li>
          <li><a href="https://github.com/lloydwatkin/xmpp-ftw">Github repository</a></li>
        </ul>
        <% include ./partials/ga %>
        <% include ./partials/cat-finder %>
    </body>
</html>