<%
    pageTitle = "XMPP using JSON"
%>
<% include ./partials/head %>

<h2>Introduction</h2>

<p>The goal of this project is to make XMPP really simple to use for developers. This module takes 
away all of the XML and works by hooking to events which are passed between client and server 
using a transport in JSON. In the example code we use socket.io, but there is no reason this 
can not be replaced with engine.io, or implement your own transport and pass in as a connection.</p>

<p>The examples on this site use <a href="http://socket.io" target="_blank">socket.io</a> to handle 
data transport and will attempt to use websockets before attempting to use alternative connection types.</p>

<h2>Hosting</h2>

<img src="/img/nodejitsu-logo.png" class="nodejitsu-logo" />

<p><a href="https://xmpp-ftw.jit.su">https://xmpp-ftw.jit.su</a> is hosted for free by 
<a href="http://www.nodejitsu.com" target="_blank">nodejitsu</a> as part of 
their on-going commitment to open source software.</p>

<p>Nodejitsu is a great PaaS provider allowing you to very quickly and easily deploy nodejs apps online 
within minutes. Please show nodejitsu some ❤.</p>


<h2>Information</h2>

<p>Please click on the following links as appropriate:</p>

<ul>
  <li><a href="/manual" title="XMPP-FTW Manual">Manual</a></li>
  <li><del><a href="/extend" title="Extend XMPP-FTW">Extend</a></del></li>
  <li><a href="/demo" title="XMPP-FTW Demo">Demo</a></li>
  <li><a href="/data-forms" title="Data Form handling">XEP-0004 Data form handling</a></li>
  <li><a href="/publishing" title="Publishing to PubSub nodes">Publishing to pubsub (XEP-0060) nodes</a></li>
  <li><del><a href="/chat" title="Example chat client">Example chat client</a></del></li>
  <li><a href="https://github.com/lloydwatkin/xmpp-ftw">Github repository</a></li>
  <li><a href="/extensions" title="Additional extensions">Extensions</a>
      <ul>
          <li><a href="http://www.superfeedr.com" target="_blank">Superfeedr</a> support</li>
          <li><a href="http://www.buddycloud.com" target="_blank">buddycloud</a> suport - <em>coming soon</em></li>
      </ul>
  </li>
</ul>
<% include ./partials/cat-finder %>
<% include ./partials/footer %>
