
<div class="pages">
<h2 class="not-toc">Pages</h2>
<ul>
    <li><a href="/">XMPP-FTW Home</a></li>
    <li><a href="/manual">Manual</a></li>
    <li><a href="/demo">Demo system</a></li>
    <li><a href="/data-forms" title="XEP-0004 - Data Forms">Data Forms</a></li>
</ul>
</div>
</div>
</body>
</html>